@use "../../styles/variables.scss" as vars;
@use "../../styles//media.mixin.scss" as *;
@use '../../styles/nds-mixins.scss' as nds;
@include nds.nds-buttons;
main {
  display: flex;
  .updates {
    margin-bottom: 10px;
    color:vars.$base---accent;
    @include mobile {
      font-size: vars.$body---m---regular;
      margin-bottom: 6px;
    }
  }
  & > .foto-cv {
    position: relative;
    box-shadow: 0 4px 12px vars.$base---primary;
    width: 12vw;
    height: 18vw;
    border-radius: vars.$corner-radius--l;
    @include mobile {
      position: absolute;
      top:12px;
      right: 30px;
      width:76px ;
      height: 104px;
    }
    & > img {
      object-fit: cover;
      border-radius: vars.$corner-radius--l;
    }
  }
  & > .about-me {
    display: flex;
    flex-direction: column;
    width: 55vw;
    min-width: 835px;
    margin-right: 8vw;
    font-size: vars.$heading---l;
    color: vars.$text---primary;
    font-weight: 300;
    @include mobile {
      width: 96vw;
      min-width: unset;
      font-size: vars.$body---l---regular;
    }
    & > .greeting {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap:10px;
      color: vars.$base---primary;
      font-weight: 200;
      font-size: 2vw;
      margin-bottom: 16px;
      
      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 8px;
        gap:0px;
        font-size: vars.$body---l---regular;
      }
    }
    & > .tech-stack {
      display: flex;
      flex-direction: row;
      gap: 12px;
      margin-bottom: 12px;
      @include mobile {
        gap:0px;
        margin-bottom: 8px;

        flex-direction: column;
      }
    }
    & > .personal {
      display: flex;
      flex-direction: column;
      gap: 6px;
  
      & > .personal-item {
        display: flex;
        gap: 8px;
        align-items: center;
        min-height: 40px;
        @include mobile {
          min-height: 20px;
          width: 95%;
        }
        & > mat-icon {
          @include mobile {
            width: 18px;
            height: 18px;
            min-width: 18px;
            min-height: 18px;
          }
        }
      }
    }
    & > .projects {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 8px;
  
      & > .project-container {
        border: 1px solid vars.$line---extra;
        border-radius: vars.$corner-radius--l;
        padding: 20px;
        box-shadow: 0 4px 12px rgba(193, 211, 241, 0.5);
        @include mobile {
          margin-right: 3vw;
          padding: 8px;
        }
        & > .first-line {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          & > .project-title {
            display: flex;
            align-items: center;
            gap: 8px;
            & > mat-icon {
              width: 32px;
              height: 32px;
              @include mobile {
                min-width: 18px;
                min-height: 18px;
              }
            }
            & > span {
              font-size: vars.$heading---l;
              font-weight: 400;
              @include mobile {
                font-size: vars.$body---l---regular;
              }
            }
          }
          & > button {
            @include mobile {
              min-width: 84px;
              padding: 8px 12px 8px 12px;
              gap:4px;
            }
          }

        }
        & > .project-bullets {
          margin-left: 30px;
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin-top: 6px;
          @include mobile {
            margin-left: 10px;
          }
          & > .project-bullets-item {
            display: flex;
            gap: 8px;
            align-items: center;
            font-size: vars.$heading---m;
            @include mobile {
              font-size: 15px;
            }
            & > mat-icon {
              @include mobile {
                width: 18px;
                min-width: 18px;
              }
            }
          }
        }
        & > .project-links {
          font-size: vars.$heading---s;
          & > .project-demo {
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            & > .demo-item {
              display: flex;
              gap: 6px;
              align-items: center;
              & > mat-icon {
                @include mobile {
                  width: 18px;
                  min-width: 18px;
                }
              }
              & > a {
                text-align: start;
                @include mobile {
                  font-size: 15px;
                }
              }
              & > div {
                @include mobile {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.base-color {
  color: vars.$base---primary;
}
.accent-color {
  color: vars.$base---accent;
}
.bold-item {
  font-weight: 600;
}
::ng-deep .dialog-project > .mdc-dialog--open .mat-mdc-dialog-surface, .mdc-dialog--closing .mat-mdc-dialog-surface {
  background-color: vars.$base---light-hover;
  border-radius: vars.$corner-radius--l;
  @include mobile {
    min-height: 50vh;
  }
    &::-webkit-scrollbar-track {
      background-color:vars.$base---secondary;
    }
    &::-webkit-scrollbar {
        -webkit-box-shadow: none;
        width:4px  !important;
    }
    &::-webkit-scrollbar-button {
      background-color:transparent !important;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: none;
        background-color:vars.$base---secondary;
        border-top: 60px solid vars.$base---primary;
        width:4px ;
    }
}