:host {
  --themeColor :  rgb(1, 6, 2);  
}
.title-box {
  margin-top: 4vh;
  text-align: center;
  color: white;
  font-weight: bold;
}
.title-box h1 {
  font-size: 2.5vw;
  line-height: 4vh;
  font-weight: bold;
}
.title-box h2 {
  margin-top: 1vh;
  font-size: 1.2vw;
}
.timeline {
  position: relative;
}
.timeline::after {
  content: '';
  position:absolute;
  width: 0.3vw;
  height:100%;
  background:  var(--themeColor);
  top:0;
  left:36vw;
  z-index: -1;
  border-width: 2px;
  border-radius: 15px;
  border-style: solid;
  background-color: rgb(16, 17, 17);
  -webkit-box-shadow:0 0 1vw var(--boxShadowColor);
  -moz-box-shadow: 0 0 1vw  var(--boxShadowColor);
  box-shadow:0 0 1vw  var(--boxShadowColor);
  animation: moveline 6s linear forwards;
}
.container {
  position:relative;
  width: 30vw;
  border-radius: 10px;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
.left-container {
  right:-3.5vw;
}
.right-container {
  left:39vw
}
.period-info {
  color: aliceblue;
  font-size: 1vw; 
  position: absolute;
  left: 35vw;
  width: 15vw;
  top:4vh;
}
.right-container .period-info {
  color: aliceblue;
  font-size: 1vw; 
  position: absolute;
  left: -11vw;
  top:4vh;
}
.timeline-img {
  position: absolute;
  width: 1vw;
  right: -3.5vw;
  top:4vh;
  z-index: 1;
  border-width: 1.5px;
  border-style: solid;
  border-color: aliceblue;
  border-radius: 50%;
  opacity: 0;
}
.right-container img{
  left: -3.3vw
} 
.active-img {
  opacity: 1 !important;
  transition: all 2s ease;
  transform: scale(3);
}
.text-box {
  padding: 1% 3% 0px 0px;
  background-color: var(--themeColor);
  font-size: 0.9vw;
  line-height: 1.2vw;
  position: relative;
  border-radius: 6px;
  color: var(--mainFontColor);
  border-width: 2px;
  border-radius: 15px;
  border-style: solid;
  background-color: rgb(16, 17, 17);
  -webkit-box-shadow:0 0 1vw var(--boxShadowColor);
  -moz-box-shadow: 0 0 1vw  var(--boxShadowColor);
  box-shadow:0 0 1vw  var(--boxShadowColor);
  transition: all 2s ease;
  opacity:0;
}
.left-box {
  transform: translateX(-150px);
}
.right-box {
  transform: translateX(150px);
}
.active-box {
  opacity: 1 !important;
  transform: translateX(0px);
  transition: all 2s ease;
}
.title-text-box {
  display: flex;
  margin-bottom: 1vh;
}
.logos-img {
  width: 3vw;
  height: 3vw;
  opacity: 1;
  left: 0 ;
  border-radius: 2px;
  margin-right: 1vw;
  margin-left: 1vw;
}
.title-text-box-info h2 {
  font-size: 1vw;
}
.left-container-arrow {
  height: 0;
  width: 0;
  position:absolute;
  top: 28px;
  z-index: 1;
  border-top: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 1vw solid var(--themeColor);
  right: -1vw;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position:absolute;
  top: 28px;
  z-index: 1;
  border-top: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-right: 1vw solid var(--themeColor);
  left:-1vw;
}
@media (max-width:1000px) {
  .title-box h1 {
    font-size:3vw;
  }
  .title-box h2 {
    font-size: 1.5vw;
  }
  .timeline::after {
    left:17vw
  }
  .container {
    width: 60vw;
  }
  .left-container {
    left:21vw;
  }
  .right-container {
    left:21vw
  }
  .period-info {
    left: -16vw;
    font-size: 1.3vw; 
  }
  .right-container .period-info {
    left: -16vw;
    font-size: 1.3vw; 
  }
  .timeline-img {
    left:-4.3vw
  }
  .right-container img{
    left:-4.3vw
  } 
  .text-box {
    margin-top: 2vh;
    font-size: 1.5vw;
    line-height: 2vw;
  }
  .left-box {
    transform: translateX(150px);
  }
  .active-box {
    opacity: 1 !important;
    transform: translateX(0px);
    transition: all 2s ease;
  }
  .left-container-arrow {
    border-right: 1vw solid var(--themeColor);
    left:-1.2vw; 
    border-left: none;
  }
}
@media (max-width:480px) {
  .title-box h1 {
    font-size:6vw;
  }
  .title-box h2 {
    font-size: 3.5vw;
    line-height: 1.2;
    padding: 0.2vw;
  }
  .timeline::after {
    left:7vw
  }
  .container {
    width: 84vw;
  }
  .left-container {
    left:16vw;
  }
  .right-container {
    left:16vw
  }
  .period-info {
    display: none;
  }
  .right-container .period-info {
    left: -16vw;
    font-size: 1.3vw; 
  }
  .timeline-img {
    left:-10vw;
    width: 3vw;
  }
  .right-container img{
    left:-10vw
  } 
  .text-box {
    margin-top: 2vh;
    font-size: 3.5vw;
    line-height: 1.4;
    -webkit-box-shadow:0 0 3vw var(--boxShadowColor);
    -moz-box-shadow: 0 0 3vw  var(--boxShadowColor);
    box-shadow:0 0 3vw  var(--boxShadowColor);
  }
  .left-box {
    transform: translateX(150px);
  }
  .active-box {
    opacity: 1 !important;
    transform: translateX(0px);
    transition: all 2s ease;
  }
  .left-container-arrow {
    transform: scale(3);
  }
  .right-container-arrow {
    transform: scale(3);
  }
  .logos-img {
    width: 12vw;
    height: 12vw;
    margin-top: 2vw;
    margin-LEFT: 2vw;
  }
  .title-text-box-info h2 {
    font-size: 4vw;
  }
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}