<div class="title-box">
  <h1>Experience</h1>
  <h2>My work experience as a developer and a finacial expert withing different companies and projects</h2>
</div>
<div class="timeline">
  <div  class="container left-container" >
    <p class="period-info">2023 - Present</p>
    <img #aicon class="timeline-img" src="../assets/companies-logos/3A.png" style="background-color: lightblue;">
    <div  #animated class="text-box left-box">
      <div class="title-text-box">
        <img class="logos-img" src="../assets/companies-logos/3A.png" style="background-color: lightblue;">
        <div class="title-text-box-info" >
          <h2 style="margin: 0">Full Stack Developer</h2>
          <p style="margin: 0">3A Solutions Inc</p> 
          <p style="margin: 0">2023 - Present</p>
        </div>
      </div>
      <ul>
        <li>Developed a decoupled, scalable, ready-to-go asset management web application platform from scratch</li>
        <li>Implemented complete asset management model: Model Portfolios, Strategies, Orders, Balance, Trades, Portfolios, Accounts, Investment Restrictions, Performance and Management Fees (hwm, sliding scales), Portfolio returns analysis (time-weighed rate of return, pl factor analysis)</li>
        <li>Implemented a comprehensive financial accounting system</li>
        <li>Built RESTful API architecture using Node JS (Express) layer to isolate the database from frontend and simplify further development and maintenance</li>
        <li>Created frontend using Angular, Material Design and RxJS</li>
        <li>Built an effectively structured database using PostgreSQL and created functions to perform complex calculations</li>
      </ul>
      <span class="left-container-arrow"></span>
    </div>
  </div>
  <div class="container right-container">
    <p class="period-info">2021 - 2023</p>
    <img #aicon class="timeline-img" src="../assets/companies-logos/BNP.png">
    <div  #animated class="text-box right-box">
      <div class="title-text-box">
        <img class="logos-img" src="../assets/companies-logos/BNP.png" style="background-color: lightblue;">
        <div class="title-text-box-info" >
          <h2 style="margin: 0">Senior Specialist in Capital Markets</h2>
          <p style="margin: 0">BNP Paribas</p> 
          <p style="margin: 0">2021 - 2023</p>
        </div>
      </div>
      <ul>
        <li>Created SPA BackOffice Dashboard. Flexible UI to get live customized data regarding trades and payments in order to process them duly and timely (HTML=CSS - JavaScript - Node JS - SQL Server)</li>
        <li>Developed a tax suspension verification service for clients applying for deposits (HTML Scraping - VBA)</li>
        <li>Developed a module to track the document flow for trades confirmations. User-friendly interface for status management and reconciliation functionality (SQL Server - Access)</li>
        <li>Settled FX/MM/Forwards/IRS/CCS trades. Controlled settlement, verified payments. Maintained and controlled cash positions for front office</li>
      </ul>
       <span class="right-container-arrow"></span>
    </div>
  </div>
  <div  class="container left-container">
    <p class="period-info">2016 - 2021</p>
    <img #aicon class="timeline-img" src="../assets/companies-logos/OWN.png">
    <div  #animated  class="text-box  left-box">
      <div class="title-text-box">
        <img class="logos-img" src="../assets/companies-logos/OWN.png" style="background-color: lightblue;">
        <div class="title-text-box-info" >
          <h2 style="margin: 0">Private Investor</h2>
          <p style="margin: 0">Own Asset Portfolio Inc</p> 
          <p style="margin: 0">2016 - 2021</p>
        </div>
      </div>
      <ul>
        <li>Managed my own investment portfolio using various products through brokerage account and collective investments</li>
        <li>Self-education and development in financial markets</li>
      </ul>
      <span class="left-container-arrow"></span>
    </div>
  </div>
  <div  class="container right-container">
    <p class="period-info">2006 - 2011</p>
    <img #aicon class="timeline-img" src="../assets/companies-logos/RIM RND.png" style="background-color: var(--themeColor);">
    <div #animated class="text-box right-box">
      <div class="title-text-box">
        <img class="logos-img" src="../assets/companies-logos/RIM3.png" style="background-color: var(--themeColor);">
        <div class="title-text-box-info" >
          <h2 style="margin: 0">Head of Operations and Support Department</h2>
          <p style="margin: 0">Renaissance Investment Management</p> 
          <p style="margin: 0">2006 - 2011</p>
        </div>
      </div>
      <ul>
        <li>2 middle office platforms were launched to ensure consecutive growth of the private client asset management business</li>
        <li>Developed an additional module for the first middle-office platform, which allowed it to be launched on time. The module was a crucial part and was constantly being developed in accordance with business demands</li>
      </ul>
      <span class="right-container-arrow"></span>
    </div>
  </div>
</div>
