<div class="BP-charts-section" >
  <div class="chart-title-wrap">
    <img  src="assets/BP-logo.png" />      
    <div class="bp-charts-title">
      <h3> {{'aam'|translate}} </h3>
      <h3> {{'bp'|translate}} </h3>
    </div>
  </div>
  <div class="bp-charts-buttons">
  <button mat-flat-button
    (click)="openPDF('assets/BP Core AAM-Buisness process core.pdf')" >{{'basic_bp'|translate}}
  </button>
  <button mat-flat-button class="extended-button"
    (click)="openPDF('assets/BP Extended AAM-Buisness process extended.pdf')" >{{'extended_bp'|translate}}
  </button>
  </div>
</div>