<div class="BP-charts-section" >
  <div class="chart-title-wrap">
    <img  src="../assets/BP-logo.png" />      
    <div class="bp-charts-title">
      <h3> Asset Management Platform </h3>
      <h3> Business Process </h3>
    </div>
  </div>
  <div class="bp-charts-buttons">
  <button mat-flat-button
    (click)="openPDF('../assets/BP Core AAM-Buisness process core.pdf')" >Basic Business process
    <mat-icon style="color: white;">open_in_new</mat-icon>
  </button>
  <button mat-flat-button class="extended-button"
    (click)="openPDF('../assets/BP Extended AAM-Buisness process extended.pdf')" >Extended Business process 
    <mat-icon style="color: white;">open_in_new</mat-icon>
  </button>
  </div>
</div>