<div class="wrapper">
  <mat-toolbar>
    <ng-container *ngIf="deviceType==='Mobile'">
      <button mat-icon-button   [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>#Education</button>
          <button mat-menu-item>#About</button>
          <button mat-menu-item>#Skills</button>
          <button mat-menu-item>#Experience</button>
          <button mat-menu-item>#Projects</button>
          <button mat-menu-item><a href="https://github.com/AndrewAndrusenko">Github Profile</a></button>
        </mat-menu>
      </button>
    </ng-container>
    <ng-container *ngIf="deviceType==='Desktop'">
      <div class="desktop-toolbar-wrapper">
        <a href="#"  (click)="navigateToSection('AAA')">{{myName}}</a>
        <a href="#Education" (click)="navigateToSection('education')">Education</a>
        <a href="#About" (click)="navigateToSection('about')">About</a>
        <a href="#Skills" (click)="navigateToSection('skills')">Skills</a>
        <a href="#Experience" (click)="navigateToSection('experience')">Experience</a>
        <a href="#Projects" (click)="navigateToSection('Projects')">Projects</a>
        <a href="https://github.com/AndrewAndrusenko" class="gitRef">Github Profile</a>
      </div>
    </ng-container>
  </mat-toolbar>
</div>