.example-spacer {
  flex: 1 1 auto;
}
.stiky {  
   position: fixed;
  top: 3vh;
   width: 60%;
}
.stiky-mobile {  
   position: fixed;
  top: 3vh;
   width: 95vw;
}
.apan a {
  color: white;
}
.myref {
  color:   rgb(125, 204, 204);;
  text-decoration:none;
}