<div id="animated-background" class="">
  <div class="menu-container"> 
    <app-main-menu></app-main-menu>
  </div>
  <div [ngClass]="deviceType==='Desktop'? 'desktop':'mobile'">
    <section id="about" [ngClass]="deviceType==='Desktop'? 'about-desktop':'about-mobile'">
      <app-about-section [deviceType]="deviceType"></app-about-section>
    </section>
    <section #reveal id="skills" class="reveal">
      <app-skills-box></app-skills-box>  
    </section>
    <section #reveal id="experience" class="reveal">
      <app-timeline-experience> </app-timeline-experience>
    </section>
    <section #reveal id="aam-core" class="reveal">
      <div class="title-container">
        <img src="../assets/logo.png" alt="">
        <div class="title-container-text">
          <h3>Asset Management Platform</h3>
          <h3>Core Architecture and Functionality</h3>
        </div>
        <a href="https://parrot-organic-overly.ngrok-free.app/login" target="_blank">Feel free to test the platform</a>
      </div>
      <img src=" ../assets/HTML for site Architecture Chart-App CV.png" alt="">
    </section>
    <section  #reveal id="BP-Charts" class="BP-charts-section reveal" >
      <div class="chart-title-wrap">
        <img  src="../assets/BP-logo.png" />      
        <div class="bp-charts-title">
          <h3> Asset Management Platform </h3>
          <h3> Business Process </h3>
        </div>
      </div>
      <div class="bp-charts-buttons">
      <button mat-flat-button
        (click)="openPDF('../assets/BP Core AAM-Buisness process core.pdf')" >Basic Business process
        <mat-icon style="color: white;" >open_in_new</mat-icon>
      </button>
      <button mat-flat-button class="extended-button"
        (click)="openPDF('../assets/BP Extended AAM-Buisness process extended.pdf')" >Extended Business process 
        <mat-icon style="color: white;" >open_in_new</mat-icon>
      </button>
    </div>
    </section>
    <section  #reveal id="contact" class="reveal contact-me-section" >
      <app-contact-me-form></app-contact-me-form>
    </section>
  </div>
</div>   