#animated-background {
  height: 5000px; 
  background-color: rgb(0, 34, 34);
}
.menu-container {
  position: relative; 
  z-index: 10; 
}
.desktop {
  margin-left: 20vw;
  margin-right: 20vw;
}
.mobile {
  margin-left: 2vw;
  margin-right: 2vw;
}
.imgDesk {
  width: 20%;
  height: 20%;
}
.imgMobile {
  margin-left: 15vw;
  margin-top: 1vh;
  width:55w;
  height: 50vh;
}
#about {
  display: flex;
  padding-top: 10vh;
}
#experience {
  margin-top: 4vh;
  display:grid;
  width: 100%; 
  gap: 2vh;
  color:var(--mainFontColor)
}
#experience h1{
  text-align: center;
  font-size: 4em;
}
.experience-card {
  align-items: center;
  width: 40vw;
  height: 30vh;
  background-color: black;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  padding: 2%;
}

.experience-card h3 {
  font-size: 3em;
  text-align: center;
}
.side2 {
  background-color: rgb(64, 88, 88);
  justify-self:flex-end;
}
.experience-card p{
  text-align: center;
  font-size: 2em;
  line-height: 1.2;
}
#aam-core{
  margin-top: 4vh;
 }
 #aam-core img{
  max-width: 110%;
  border-radius: 2%/4%;
  margin-left: -4vw;
 }
.BP-charts-section {
  margin-top: 4vh;
  text-align: center; 
  border-radius:2%/20%;
  border-style: solid;
  border-width: 2px; 
  padding: 2%; 
  border-color:  rgb(156, 158, 158);
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.active {
  transform: translateY(0px);
  opacity: 1;
}
