<div class="skill-main-container">
  <h1>Hard Skills</h1> 
  <h2 >Here are some of my skills on which I have been working on for the past 2 years.</h2>
  <div class="skill-boxes-contrainer">
    <div class="tilt-box-wrap">
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <div class="skill-box">
        <h2>Frontend</h2>
        <div class="skill-item">
          <img src="../assets/skills-logos/angularjs-original.svg" alt="angular" >
          <p>Angular</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/rxjs-1.svg" alt="rxjs" /> 
          <p>RxJS</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/Typescript.svg" alt="typescript" /> 
          <p>TypeScript</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/echarts.png" alt="echarts" /> 
          <p>ECharts</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/javascript1.svg" alt="javascript"  style="border-radius: 10%;"/> 
          <p>JavaScript</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/HTML5.svg" alt="html" /> 
          <p>HTML</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/CSS3_logo.svg" alt="css" /> 
          <p>CSS</p> 
        </div>
      </div>
    </div>
    <div class="tilt-box-wrap">
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <div class="skill-box">
        <h2>Backend</h2>
        <div class="skill-item">
          <img src="../assets/skills-logos/postgresql.png" alt="postgresql" /> 
          <p>PostgreSQL</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/Node.svg" alt="nodejs" style="background-color: rgb(222, 221, 221);  border-radius: 5%/15%;  width:5.5vh;"/> 
          <p>NodeJS</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/ExpressJS1.png" alt="sqlserver" /> 
          <p>Express</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/passport.svg" alt="passportjs" /> 
          <p>PassportJS</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/SQL.png" alt="sqlserver"  style=" width:5vh;"/> 
          <p>SQLServer</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/redis.svg" alt="redis" /> 
          <p>Redis</p> 
        </div>
      </div>
    </div>
  </div>
  <div class="skill-boxes-contrainer centered">
    <div class="tilt-box-wrap">
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <div class="skill-box">
        <h2>Others</h2>
        <div class="skill-item">
          <img src="../assets/skills-logos/vs.svg" alt="vscode" /> 
          <p>VS Code</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/git.svg" alt="git"/> 
          <p>Git</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/docker.svg" alt="docker" /> 
          <p>Docker</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/accounting.png" alt="redis" /> 
          <p>Accounting</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/bond.png" alt="instruments" /> 
          <p>BondsShares</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/derivative.png" alt="sqlserver" /> 
          <p>Derivatives</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/funds.png" alt="hedge funds" /> 
          <p>HedgeFunds</p> 
        </div>
        <div class="skill-item">
          <img src="../assets/skills-logos/exchange.png" alt="money markets" /> 
          <p>MoneyMarket</p> 
        </div>
      </div>
    </div>
  </div>
</div>
