<div class="about-main-container">
  <section class="about-text-container">
    <h1>Hi, I am Andrey Andusenko</h1>
    <app-typing-animation></app-typing-animation>
      <span>I am a highly motivated developer with extensive financial expertise and a passion for learning</span><br><br>
      <span>I have created from scratch a brand-new 
        <button class="navigate-button AAM" mat-raised-button (click)="navigateToSection('aam-core')">Asset Management Platform</button> 
        based on Decoupled, RESTful API, Angular - NodeJS - PostgreSQL architecture.
      </span><br>
      <span>The platform covers 
        <button class="navigate-button" mat-raised-button (click)="navigateToSection('BP-Charts')">full investment cycle</button> 
        and provides comprehensive financial accounting system.</span><br><br>
      <span>By presenting my project I intend to demonstrate my ability to be efficient part of any team and be ready take any challenge.</span><br><br>
  </section>
    <img  mat-card-image src="../assets/velo_green2.jpg">
</div>