/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --mainFontColor: rgb(183, 174, 185);
  --boxShadowColor: yellowgreen;

}
* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
html, body { 
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
 }
.customm-icon {
  width: 2vw;
  height: 4vh;
}
.navigate-button {
  background-color: rgb(44, 64, 61);
  padding:0px;
  margin: 0px;
  font:inherit;
  color:inherit;
} 
.snackbar-success {
  background-color: rgb(91, 143, 180);
  color: rgb(232, 233, 238);
  white-space: pre-wrap;
  padding: 1%;
}