<div class="footer-wrap">
  <h1 (dblclick)="stopAnimation()">Andrey Andrusenko</h1>
  <div class="icon-container">
    <a href="https://www.linkedin.com/in/andrey-andrusenko-2b441b203/" target="_blank">
      <img #aicon  src="../assets/social-icons/LinkedIn_icon.svg" >
    </a>
    <a href="https://www.facebook.com/profile.php?id=100006265744393" target="_blank">
      <img #aicon  src="../assets/social-icons/2021_Facebook_icon.svg" >
    </a>
    <a href="https://github.com/AndrewAndrusenko" target="_blank">
      <img #aicon  src="../assets/social-icons/github-color-svgrepo-com.svg" >
    </a>
  </div>
</div>
