<div class="skill-main-container">
  <h1>{{'hard_skills' | translate}}</h1> 
  <h2 >{{'skills_introduce' | translate}}</h2>
  <div class="skill-boxes-contrainer">
    @for ( skillBox of skillData; track skillBox.title ) {
        <div class="tilt-box-wrap">
            @for ( i of [].constructor(9) ; track $index ) {
                <span class="t_over"></span>
            }
            <div class="skill-box">
                <h2>{{skillBox.title | translate}}</h2>
                @for ( skill of skillBox.skills ; track skill ) {
                    <div class="skill-item">
                      <img [src]="'assets/skills-logos/' + skill.img" [alt]="skill.alt||skill.name" [style.width]="skill?.width">
                      <span>{{skill.name}}</span> 
                    </div>
                }
            </div>
        </div>
    }
  </div>
</div>