@use '../../styles/variables.scss' as vars; 
@use '../../styles/media.mixin.scss' as *;
.skill-main-container {
    color: vars.$base---light;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    & h1{
        font-size: 2.5vw;
        font-weight: bold;
        color: vars.$base---primary;
        @include mobile {
          font-size: vars.$body---l---regular;
        }
    }
    & h2 {
      font-size: 1.2vw;
      line-height: 1.2;
      color: vars.$base---primary;
        @include mobile {
          font-size: vars.$body---s---regular;
        }
    }
}

.skill-boxes-contrainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    @include mobile {
      display: flex;
      flex-direction: column;
    }
    & h2 {
        font-size: 2vw;;
        margin-top: 2%;
        margin-bottom: 1vh ;
        @include mobile {
          font-size: vars.$body---l---regular;
          margin-bottom: 8px;
        }
    }
    & > .tilt-box-wrap {
        perspective: 1000px;
        position: relative;
        transition: all 0.6s ease-out;
        & > .skill-box {
            width: 30vw;
            height: 33vh;
            min-height: 280px;
            border: 1px solid vars.$line---extra; 
            border-radius: 12px;
            padding: 20px;
            box-shadow: vars.$style---base-shadow---m;
            transition: all 0.6s ease-out;
            @include mobile {
              width: 90%;
              padding: 10px;
              height: fit-content;
            }
            & > .skill-item {
                display:inline-flex;
                justify-content: center;
                gap: 6px;
                margin-left: 0.5vw;
                margin-bottom: 0.7vw;
                padding:12px;
                border: 1px solid vars.$line---extra;
                border-radius: 15px;
                align-items: center; 
                background-color: vars.$base---light;
                @include mobile {
                  width: fit-content;
                }
                &> img{
                  width: 36px;
                  height: 36px;
                  @include mobile {
                    width: 20px;
                    height: 20px;
                  }
                }
                & > span{
                  font-size: 1vw;
                  margin-left: 6px;
                  color: vars.$base---primary;
                  @include mobile {
                    font-size: vars.$body---m---regular;
                  }
                }
            }
        }
    }
}

.t_over {
  width: 33.333%;
  height: 33.333%;
  position: absolute;
  z-index: 1;
}
.t_over:nth-child(1) {left: 0; top:0}
.t_over:nth-child(2) {left: 33.333%; top:0}
.t_over:nth-child(3) {left: 66.666%; top:0}
.t_over:nth-child(4) {left: 0; top:33.333%;}
.t_over:nth-child(5) {left: 33.333%; top:33.333%;}
.t_over:nth-child(6) {left: 66.666%; top:33.333%;}
.t_over:nth-child(7) {left: 0; top:66.666%;}
.t_over:nth-child(8) {left: 33.333%; top:66.666%;}
.t_over:nth-child(9) {left: 66.666%; top:66.666%;}
.t_over:nth-child(1):hover ~.skill-box {transform: rotateX(-20deg) rotateY(20deg)}
.t_over:nth-child(2):hover ~.skill-box {transform: rotateX(-20deg) rotateY(0deg)}
.t_over:nth-child(3):hover ~.skill-box {transform: rotateX(-20deg) rotateY(-20deg)}
.t_over:nth-child(4):hover ~.skill-box {transform: rotateX(0deg) rotateY(20deg)}
.t_over:nth-child(5):hover ~.skill-box {transform: rotateX(0deg) rotateY(0deg)}
.t_over:nth-child(6):hover ~.skill-box {transform: rotateX(0deg) rotateY(-20deg)}
.t_over:nth-child(7):hover ~.skill-box {transform: rotateX(20deg) rotateY(20deg)}
.t_over:nth-child(8):hover ~.skill-box {transform: rotateX(20deg) rotateY(0deg)}
.t_over:nth-child(9):hover ~.skill-box {transform: rotateX(20deg) rotateY(-20deg)}
/* @media (max-height:600px) {
  .skill-box {
    height: 40vh;
  }
}

@media (max-width:1000px) {
  .skill-main-container h1 {
    font-size: 3vw;
  }
  .skill-main-container h2 {
    font-size: 1.5vw;
    line-height: 1.2;
  }
  .skill-boxes-contrainer {
    display:grid;
    gap: 2vh;
    justify-content: center;
  }
  .skill-box {
    width: 80vw;
    height: 30vh;
  }
  .skill-item {
    margin-left: 01vw;
    margin-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    min-width: 15vw;
  }
  .skill-item p{
    font-size: 2vw;
    margin-left: 1vw;
    margin-top: 1vw;
  }
}
@media (max-width:480px) {
  .skill-main-container h1 {
    font-size: 6vw;
  }
  .skill-main-container h2 {
    font-size: 4vw;
    line-height: 1.2;
    padding: 0.2vw;
  }
  .skill-boxes-contrainer {
    display:grid;
    gap: 2vh;
    justify-content: center;
  }
  .skill-box {
    width: 94vw;
    height: 35vh;
    -webkit-box-shadow:0 0 2vw var(--boxShadowColor);
    -moz-box-shadow: 0 0 2vw  var(--boxShadowColor);
    box-shadow:0 0 2vw  var(--boxShadowColor);
    transition: all 0.6s ease-out;
  }
  .skill-item {
    margin-left: 5vw;
    margin-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    min-width: 35vw;
  }
  .skill-item p{
    font-size: 4vw;
    margin-left: 3vw;
    margin-top: 1vw;
  }
} */