@use '../../styles/variables.scss' as vars; 
@use '../../styles/media.mixin.scss' as *;
@use '../../styles/nds-mixins.scss' as nds;
@include nds.nds-buttons;
.main-menu {
    display: flex; 
    justify-content:space-around;
    align-items: center;
    background-color:vars.$base---secondary;
    border-radius: vars.$corner-radius--m;
    position: fixed;
    top:0;
    height: 7vh;
    width: 88vw; 
    margin-right: 6vw;
    margin-left: 6vw;
    margin-top: 0.2vh;
    @include mobile {
      display: none;
    }
    &-href {
        color:  vars.$base---primary;
        text-decoration:none;
        font-weight: 300;
        display: flex;
        align-items: center;
        gap:8px;
        & > mat-icon {
          margin-bottom: 2px;
        }
    }
    &-contact {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &-language {
      display: flex; 
      flex-direction: row; 
      gap:4px; 
    }
}
.mobile-menu-button {
  display: none;
  @include mobile {
    position: fixed;
    display: flex;
    top:8px;
    left: 3vw;
  }
}
.mobile-lang-button {
  display: none;
  @include mobile {
    position: absolute;
    display: flex;
    top:10px;
    left: 150px;
  }
}
::ng-deep .mobile-menu {
  background-color:  vars.$base---secondary !important;
  opacity: 0.85;
  border-radius: vars.$corner-radius--m !important;
  width: 100vw;
}
.mobile-menu-item {
  color: vars.$base---primary !important;
}