@let langButtons = langButtonsRef;
<ng-template #langButtonsRef>
    <button
      class="button-icon size-m"
      [class]="languageService.currentLang() === 'En' ? 'primary-button' : 'outline-button'"
      (click)="languageService.setLanguage('En')"
    >
      En
    </button>
    <button
      class="button-icon size-m"
      [class]="languageService.currentLang() === 'Ru'? 'primary-button' : 'outline-button'"
      (click)="languageService.setLanguage('Ru')"
    >
      Ru
    </button>
</ng-template>

<div class="main-menu">
  @for (item of menuItems; track item) {
    <a
      class="main-menu-href"
      [href]="item.href"
      (click)="item.handler ? item.handler(item.arg!) : null"
    >
      @if (item.icon) {
        <mat-icon [svgIcon]="item.icon"></mat-icon>
      }
      <span>{{ item.label | translate}}</span>
    </a>
  }
  <div class="main-menu-contact">
    <a
      class="main-menu-href"
      href="./#contact"
      (click)="navigateToSection('contact')"
      matTooltip="Contact Form"
    >
      {{'contact' | translate}}
    </a>
    <a
      class="main-menu-href"
      href="https://www.linkedin.com/in/andrey-andrusenko-2b441b203/"
      [matTooltip]="'go_to_linked_in' | translate"
      target="_blank"
    >
      <mat-icon
        style="transform: scale(1.2)"
        svgIcon="linkedin-box-fill"
      ></mat-icon>
    </a>
    <a
      class="main-menu-href"
      href="https://www.facebook.com/profile.php?id=100006265744393"
      [matTooltip]="'go_to_facebook' | translate"
      target="_blank"
    >
      <mat-icon
        svgIcon="facebook-fill"
        style="transform: scale(0.9)"
      ></mat-icon>
    </a>
  </div>
  <div class="main-menu-language">
    <ng-container *ngTemplateOutlet="langButtons"></ng-container>
  </div>
</div>

<button
  [matMenuTriggerFor]="menu"
  class="mobile-menu-button button-icon size-l secondary-button"
>
  <mat-icon svgIcon="menu-fill"></mat-icon>
  <span> {{'menu' | translate}} </span>
</button>
  <div class="main-menu-language mobile-lang-button">
    <ng-container *ngTemplateOutlet="langButtons"></ng-container>
  </div>
<mat-menu #menu="matMenu" class="mobile-menu">
  @for (item of menuItems; track item) {
    <button
      mat-menu-item
      class="mobile-menu-item"
      (click)="item.handler ? item.handler(item.arg!) : null"
    >
      @if (item.icon) {
        <mat-icon [svgIcon]="item.icon"></mat-icon>
      }
      <span>{{ item.label | translate}}</span>
    </button>
  }

  <button
    mat-menu-item
    class="mobile-menu-item"
    (click)="navigateToSection('contact')"
  >
    <mat-icon svgIcon="message-2-fill"></mat-icon>
    {{'contact' | translate}}
  </button>
</mat-menu>
